services:
  - type: web
    name: skincare-booking-system
    runtime: docker
    region: singapore
    plan: starter
    numInstances: 2

    healthCheckPath: /actuator/health

    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod

      - key: HIBERNATE_DDL_AUTO
        value: validate

      - key: PORT
        value: 8080

      # DB → Render tự sinh
      - key: DATABASE_URL
        fromDatabase:
          name: skincare-db
          property: connectionString

      - key: DATABASE_USERNAME
        fromDatabase:
          name: skincare-db
          property: user

      - key: DATABASE_PASSWORD
        fromDatabase:
          name: skincare-db
          property: password

      # Secrets
      - key: JWT_SECRET
        sync: false

      - key: SPRING_AI_OPENAI_API_KEY
        sync: false

      # Cloudflare IP Ranges
      - key: CF_IP_RANGES
        sync: false

databases:
  - name: skincare-db
    plan: starter
    region: singapore
    version: "16"
    databaseName: skincare_db_data
    user: skincare_db_user
